NEXT_PUBLIC_SANITY_TOKEN=skdKiPruffj7lWPmK3lsFcmSY02okcijvunnYLH2XpQyhkfrx7p6CIpxXFP2xAtASKg45NGcmf4bTxrxi1iz4EgCcKnZMsbwrUHYdculgy8K13OtWH8ld6ejhPPHhQcggZSNCrDgEQIzLPnSGUkMNNHk2Z5oeCc9zby0hDgD4xf5BeFgAUOL
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51O33PcDC4vajvrTsASWKbV4riZK5aJfOA6azYgaUjSV8SOI7aJFVHTyQ7Ac6D3cEee7SPOTCr3bkubqsj92KVMHc00hkqm76uR
NEXT_PUBLIC_STRIPE_SECRET_KEY=sk_test_51O33PcDC4vajvrTsZ21p4wcezMjqae3XUzwLkPXr4HSbfDLh9LlfZeuORoPS25PBHn5AF2vGxzqRFWhJukouq4KW00uYUXgHZJ